{% extends '@FOSMessage/layout.html.twig' %}

{% block fos_message_content %}
    <table>
    {% if list.count > 0 %}
            <thead>
            <tr>
                <th>{% trans from 'FOSMessageBundle' %}id{% endtrans %}</th>
                <th>{% trans from 'FOSMessageBundle' %}body{% endtrans %}</th>
            </tr>
            </thead>

            <tbody>
            {% for message in list %}
                <tr>
                    <td>
                        <a href="{{ path('fos_message_moderate', {'messageId': message.id}) }}">
                            {{ message.id }}
                        </a>
                    </td>
                    <td>
                        {{ message.body }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <div class="navigation">
                {{ knp_pagination_render(list) }}
            </div>
    {% else %}
        <tr>
            <td colspan="6">
                {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
            </td>
        </tr>
    {% endif %}
    </table>
{% endblock %}
