{% extends '@FOSMessage/layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</h2>

{% include '@FOSMessage/Message/messages_send_list.html.twig' with {'list': list} %}
    <div class="navigation">
        {{ knp_pagination_render(list) }}
    </div>
{% endblock %}
